.panda-bg-info{
    background-color: #feeae9;
}
.special-btn{
    color: #fff;
    font-weight: 700;
    background: linear-gradient(#ff4d94, #ff2178);
}
.panda-btn{
    color: white;
    font-weight: 700;
    background-color: black;
}